fieldset legend {
	margin-left: -7px !important;
}

.content_box_A .textos form#contacto_cv {
	width: 538px !important;
	overflow: visible;
}
.content_box_A .textos form#contacto_cv div.column {
	width: 245px !important;
}
.content_box_A .textos form#contacto_cv div.columnRight {
	float: right;
	margin-right: -8px;
}

.content_box_A .textos form div.formSpacer {
	height: 5px;
	line-height: 0;
}
.content_box_A .textos form div.formSpacer2 {
	height: 5px;
	line-height: 0;
}